.imageview_share_box                                {display:block; width:100%; text-align:right;}
.imageview_share_box .b-share                       {font-size:100%;}
a.b-share-popup__yandex         {display:none;}

/* IMAGEVIEW PHOTOGRAPHER INFORMATION*/
.photographer_info                                  {margin:5px 0 0 5px;}
.photographer_info img                              {height:30px;}

.keyword-sales-box                                  {float:left;width:722px;padding:8px;margin-bottom:20px;background:url(../../../images/boxes/box1_bg.png) repeat-x #f2f3f5;border:1px solid #c2c2c2;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;position:relative;}
.media-info div                                     {font-size:90%;}
.media-info div span                                {font-weight: bold; display:inline-block; width:60px;}
.salesStatsTable                                    {width:100%;border:1px solid #CCC;background:#ECECEC;margin-bottom:10px;clear:both;}
.salesStatsTable thead tr td                        {font-weight:bold;width:100px;}
.salesStatsTable tr                                 {border-bottom:1px solid #CCC;}
.salesStatsTable tr.total                           {background:#DDD;color:#2E3A5F;}
.salesStatsTable td                                 {padding-left:5px;vertical-align:middle;}
.salesStatsTable input                              {width:50px;}
.salesTableLeft                                     {width:420px;float:left;}
.salesTableRight                                    {width:252px;float:right;}
.salesTableLeft > div                               {margin-bottom:10px;}
.salesTableLeft > div.admin_boost, .salesTableRight > div:first-child {margin-bottom:20px;}
.salesTableLeft > div.admin_boost > span:first-child {float:left;margin-right:10px;}
.salesTableLeft > div:first-child > span:first-child {float:left;margin-right:14px;}
.salesTableLeft > div.admin_boost > input, .salesTableRight > div:first-child > input {margin-right:5px;}
.salesTableTopMenu                                  {float:left;text-align:right;clear:both;width:700px;margin-bottom:20px;}
.salesTableTopMenu a                                {margin-right:5px;margin-left:5px;}
.ranks_table tr                                     {border-bottom:1px solid lightgray;}
#rank_load_icon                                     {width:16px;height:11px;display:none;background:url(../../../images/loader/tabs_blue.gif);float:left;margin:5px 0 0 10px;}
.salesKeywordsTable                                 {width:100%;border:1px solid #CCC;background:#ECECEC;margin-bottom:10px;clear:both;font-size: 12px;}
.salesKeywordsTable td                              {padding-left:5px;vertical-align:middle;}
.salesKeywordsTable td:first-child                  {width:110px;}
.salesKeywordsTable td.rank_box                     {width:130px;}
.salesKeywordsTable td.rank_box > div:first-child   {float:right;padding:3px 2px 0 3px;width:18px;height:11px;}
.remove                                             {float:right;width:12px;height:11px;margin:1px 1px 0;background:url(../../../images/icons/sprite05.png) -195px 0;}
.imageview_sales_amount                             {float:right;width:29px;text-align:right;font-size: 12px;}
.imageview_sales_vote                               {float:right;margin-top:7px;}
.keyword_rank                                       {border-bottom:1px solid #D2D2D2;}
#istock_editor .actions_cell                        {width: 18px;}
.admin_widget                                       {margin-top: 20px;}
.term_group                                         {overflow: hidden; border-top: 1px solid #D2D2D2; padding: 1px;}
.istock_term                                        {float: right; width: 200px; text-align: left; vertical-align: middle}
.istock_keywords                                    {float: left; width: 200px;}

.istock_group .remove                               {margin-top: 3px; margin-right: 7px;}
.istock_group .editable                             {float: left;}
.add_group                                          {float: left; margin-right: 7px;}

#country_ranks_table #keywords_solr_order {display: none;}
.status_warning                                {color: darkred; font-size: 18px; text-align: center}