.search_controls {padding-top:2px; padding-bottom:8px;}
.search_controls.adjusted_markers .bottom_hr {margin: 10px 0 18px;}
.search_controls.adjusted_markers .search_condition.button.blue {margin: 0 10px 10px 0 !important;}
.search_controls.adjusted_markers .search_results_cb {height: auto;float: none;}
.search_controls.adjusted_markers .search_results_cb > div {display: inline-block;float: none;}
.search_controls.bottom {overflow:hidden; padding:2px; margin-top:13px;}
.search_controls .buttons {float:left;}
.search_controls .buttons .keywords {display:inline;}
.search_controls .button.white:hover {background:#333; color:#E5E2DB;}
.search_controls .white.disabled {color:#999;}
.search_controls .white.disabled:hover {background:#ffffff; color:#999; box-shadow:0 1px 1px rgba(0, 0, 0, 0.15); -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.15);}
.search_controls .pagination {float:right;}
.search_controls .pagination .button {float:left; cursor:pointer;}
.search_controls .pagination .button.has_list:hover {box-shadow:0px 2px 3px rgba(0,0,0,0.5); -webkit-box-shadow:0px 2px 3px rgba(0,0,0,0.5); border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; background:#ffffff; color:#777777;}
.search_controls .pagination .button.has_list ul {box-shadow:0px 2px 3px rgba(0,0,0,0.5); -webkit-box-shadow:0px 2px 3px rgba(0,0,0,0.5); z-index:1; text-align:left; display:none; margin-left:-10px; position:absolute; background:#ffffff; color:#777777; -webkit-border-radius:0 5px 5px 5px; border-radius:0 5px 5px 5px;}
.search_controls .pagination .button.has_list li {padding:2px 7px; cursor:pointer; font-size:13px; -webkit-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.7);}
.search_controls .pagination .button.has_list li:hover {color:#E5E2DB; background-color:#333;}
.search_controls .pagination .button.has_list li:first-child {border-radius:0 5px 0 0; -webkit-border-radius:0 5px 0 0;}
.search_controls .pagination .button.has_list li:last-child {border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px;}
.search_controls .pagination .button.gray.arrow {color:#fff;}
.search_controls .pagination .button.white.arrow {color:#ccc;}
.search_controls .pagination .button.arrow:hover span {background-position:0 -14px ;}
.search_controls .pagination .button.arrow span, .search_controls .pagination .button.arrow.disabled:hover span {height:13px; width:6px; display:inline-block; background:url("/images/search/sprite.png"); vertical-align:middle; margin-top:-3px;}
.search_controls .pagination .button.arrow.next {margin-right:0;}
.search_controls .pagination .button.arrow.next span, .search_controls .pagination .button.arrow.next.disabled:hover span {background-position:-7px 0;}
.search_controls .pagination .button.arrow.next:hover span {background-position:-7px -14px;}
.search_controls .pagination .button.limit {margin-right:20px;}
.search_controls .pagination .pages {position:relative; float:left; margin-right:10px; height:27px; line-height:27px; color:#000; text-align:center; min-width:80px;}
.search_controls .pagination .pages .goto {transition:0.3s; opacity:0; left:2px; position:absolute; top:0;}
.search_controls .pagination .page_box {display:inline-block; height:24px; padding:0 2px; vertical-align:inherit; width:30px; background-color:rgba(255, 255, 255, 0.4); border:1px solid #E3E3E3; border-radius:3px; -webkit-border-radius:3px; box-shadow:0 0 1px 0 rgba(0, 0, 0, 0.1) inset; -webkit-box-shadow:0 0 1px 0 rgba(0, 0, 0, 0.1) inset; transition:0.3s;}
.search_controls .pagination .page_box:focus {background-color:rgba(255, 255, 255, 0.8);}
.search_controls .pagination:hover .pages .goto {opacity:1;}
.search_controls .pagination .pages .pager {transition:0.3s;}
.search_controls .pagination:hover .pages .pager {opacity:0;}
.search_controls .extra {float:left;}
.search_controls .extra .cb_squared_small, .search_controls .extra .cb_squared_small2 {width:auto;}
.loader_big_wide {margin-left:-70px; top:250px;}
.search_summary {overflow:hidden; padding:0;}
.bottom .search_summary {margin-top:5px;}
.summary {float:left; margin-top:6px;}
.appended_summary {float:left; margin-top:6px;}
.search_controls .rpi, .search_controls .demand_factor {display: inline-block;
    margin-top: 8px;
    padding-left: 20px;
    vertical-align: top;}
.search_controls .demand_factor {cursor: pointer;}

.search_results_cb {margin:6px 0 0; width:auto;}
.cb_squared_small, .cb_squared_small2 {width:auto; margin-left:10px;}
.search_condition_text, .search_condition_people, .search_condition_colors {display:inline-block; *display:inline; zoom:1; max-width:90px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:15px; line-height:25px;}
.search_condition_text {max-width:none;}
.search_condition_icons {float:right; margin:7px 0 0 7px;}
.search_condition_orientation {display:inline-block; *display:inline; zoom:1; height:20px; overflow:hidden; vertical-align:middle; margin-left:6px;}

div.previews {padding:20px 0 15px 0; text-align:justify; margin-right:-10px; font-size: 0;}
div.previews.justify_last {-moz-text-align-last:justify; -webkit-text-align-last:justify; text-align-last:justify;}
div.previews.justify_last:after {content:''; display:inline-block; width:100%;}
div.previews.justify_last div.preview {-moz-text-align-last:center; -webkit-text-align-last:center; text-align-last:center;}
div.previews div.preview {margin:0; display:inline-block; position:relative;}
div.previews div.preview .inner {vertical-align:bottom; display:table-cell; height:170px; padding:0 10px 20px 0;}
div.previews div.preview .inner2 {position:relative;}
div.preview img {margin:0 auto; display:block; box-shadow:0 1px 1px rgba(0, 0, 0, 0.3); -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.3); -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.3); max-height:148px; max-width:148px;}
div.preview .inner2:hover a.image_link {box-shadow:0 0 0 3px #333; -moz-box-shadow:0 0 0 3px #333; -webkit-box-shadow:0 0 0 3px #333; border-radius:3px; -webkit-border-radius:3px;}
div.preview .inner2:hover img {border-radius:3px; -webkit-border-radius:3px;}
.history .previews {min-height:90px;}
.history .search_results {position:relative;}
.history_title {padding:25px 0 8px 0; font-size:12px; color:#000000;}
.history_title .big {font-weight:bold; font-size:18px;}
.history .search_controls .actions {margin:6px 0 0 17px; float:left;}


div.preview .price {font-size:11px; font-weight:bold; color:#444; margin-right:2px;}
div.preview .labels {height:19px; line-height:19px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; text-align:center; display:block; margin:0 auto;font-size:13px;}
div.preview .labels .hover, div.preview:hover .labels .default {display:none;}
div.preview:hover .labels .hover {display:inline;}
div.preview .label {font-size:11px; color:#666666;}
div.preview a.image_link {display:block; position:relative; transition:0s; -moz-transition:0s; -webkit-transition:0s;}
div.preview a:hover .shadows {display:block;}
div.preview .shadows {display:none; height:11px; position:absolute; top:-10px; width:148px;}
div.preview .shadow_1, div.preview .shadow_2 { background:gray; border-radius:5px 5px 0 0; float:left; height:5px;}
div.preview .shadow_1 {margin-left:14px; opacity:0.2; width:120px;}
div.preview .shadow_2 {margin-left:4px; opacity:0.4; width:140px;}
div.preview .model_status {margin-left:20px;}
div.preview .model_status.toggle {cursor:pointer;}
div.preview .model_status.toggle:hover {text-decoration:underline;}

div.preview .collection_label {color:#ccc; background:rgba(0, 0, 0, 0.8); position:absolute; top:0; left:0; border-radius:0 0 5px 0; text-shadow:0px 1px 1px rgba(0,0,0,0.3); height:17px; line-height:17px; font-size:12px; padding:0 4px;}
div.inner2:hover .collection_label {display:none;}

.to_lightbox {padding-bottom: 2px;}
div.preview .add_lightbox, div.preview .details {opacity:0; transition:0.1s ease-in; background:rgba(0, 0, 0, 0.8); line-height:20px; position:absolute;}
div.preview .add_lightbox a, div.preview .to_lightbox a, div.preview .details a, div.preview .details .price {transition:0.1s; color:#ccc; text-shadow:0 1px 0 #000; font-size:12px; padding:0 5px; text-align:center; white-space:nowrap; text-align:center;}
div.preview .add_lightbox a:hover, div.preview .details a:hover {color:#fff;}
div.inner2:hover .add_lightbox, div.inner2:hover .details {opacity:1;}
div.preview .add_lightbox {top:0; right:0; border-radius:0 2px 0 2px; -webkit-border-radius:0 2px 0 2px;}
div.preview .details {text-align:center; bottom:0; width:100%; border-radius:0 0 2px 2px; -webkit-border-radius:0 0 2px 2px;}
div.preview .add_lightbox a {display:block; line-height:15px; height:17px;}

.imageview_wrap_next {width:148px; height:148px; background:url("/images/imageview/holder_next_full.png") -8px -15px; box-shadow:0 1px 1px rgba(0, 0, 0, 0.15); -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.15); -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.15); margin-bottom:15px; display:block;}
.imageview_wrap_all {width:148px; height:148px; background:url("/images/imageview/holder_see_all.png") -8px -15px; box-shadow:0 1px 1px rgba(0, 0, 0, 0.15); -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.15); -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.15); margin-bottom:15px; display:block;}
.imageview_wrap_next:hover, .imageview_wrap_all:hover {background-position:-168px -15px;}
.imageview_bottom_rating {display:block; overflow:hidden; text-align:center;}
.imageview_bottom_rating > span {display:inline-block; text-align:center;}
div.preview:hover .preview_keyword {display:block;}
.preview_keyword {display:none; width:auto; background:none repeat scroll 0 0 #FFFFFF; border-radius:5px; -webkit-border-radius:5px; box-shadow:0 2px 3px rgba(0, 0, 0, 0.5); -webkit-box-shadow:0 2px 3px rgba(0, 0, 0, 0.5); color:#777777; bottom:auto; margin:-10px 0 0;}
.preview_keyword:hover {z-index:9999999;}

.search_summary .info {float:right; color:#ccc;}
#suggestion_area .search_condition_icons {display:none}


.blurred .image_link img {-webkit-filter:blur(20px); -moz-filter:blur(20px); -o-filter:blur(20px); -ms-filter:blur(20px); filter:blur(20px); filter:url(search.svg#blur20); filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='20'); box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;}
div.collage img.blurred, .preview_content a.blurred img, #suggestion_area span.blurred img {-webkit-filter:blur(5px); -moz-filter:blur(5px); -o-filter:blur(5px); -ms-filter:blur(5px); filter:blur(5px); filter:url(search.svg#blur5); filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5'); box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;}
.preview_content a.blurred {overflow: hidden;position: relative;display: block;float: left;}
#suggestion_area span.blurred {overflow: hidden;position: relative;display: inline-block;}
.blurred a.image_link {transition:0; -webkit-transition:0; -moz-transition:0; overflow:hidden; box-shadow:0 1px 1px rgba(0, 0, 0, 0.3); -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.3); -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.3);}
svg {position:absolute; left:-999px;}

.search_summary .info {float:right; color:#ccc;}

.imageview_square .imageview_bottom_square .rate_widget.average_rating_box {position:absolute; left:50%; margin:6px 0 0 -46px;}
.imageview_square .imageview_bottom_square .preview_keyword {bottom:30px;}
.imageview_square:hover .imageview_bottom_square .preview_keyword {display:block;}


.day_added, .month_added {margin:10px 0 0; font-weight:bold; color:#000;}

#added_today {display:none;}


.search_results .notifications {cursor: pointer;}
.search_results .notifications > div.in:before {content:'Click to close'; font-size: 9px; color: #a6a6a6; position: absolute; top: 8px;}
.search_results .notifications:hover > div.in:before {color: #881305;}
.search_results .notifications span.close {display: block; text-align: right;}
.search_results .notifications > div.in {padding-top: 28px; position: relative}
.search_results .notifications p {display: inline-block; margin:0 10px 10px 0; background: rgba(255,255,255,0.45);padding: 5px 10px;border-radius: 3px;}


div.previews.search_result_new div.preview {background-color:#fbfbfb;display: block; float: left; height: inherit; margin: 0 10px 10px 0;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);}
div.previews.search_result_new div.preview .inner {padding: 0;height: 250px;vertical-align: middle;}
div.previews.search_result_new div.preview.last-in-row {margin-right: 0 !important;}
div.previews.search_result_new .preview img {max-height: 250px;max-width:inherit; box-shadow: none;}
div.previews.search_result_new div.preview .inner2:hover a.image_link {box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; border-radius:0; -webkit-border-radius:0;}
div.previews.search_result_new div.preview:hover {box-shadow:0 0 0 3px #333; -moz-box-shadow:0 0 0 3px #333; -webkit-box-shadow:0 0 0 3px #333; border-radius:3px; -webkit-border-radius:3px;}
div.previews.search_result_new div.preview.preview_next {transition: background 0.6s;}
div.previews.search_result_new div.preview.preview_next:hover {background: #fff;cursor: pointer;}
div.previews.search_result_new div.preview.preview_next a {font-size: 17px; text-align: center; display: block; color: #c2c2c2; position:relative;}
div.previews.search_result_new div.preview.preview_next a span {display: block; font-size:50px; line-height:50px; text-transform: uppercase;}
div.previews.search_result_new div.preview.preview_next a:after {opacity:0;transition:opacity 0.6s ease 0.6s;content: '➤'; position:absolute; bottom: -2px; font-weight: bold;}
div.previews.search_result_new div.preview.preview_next:hover a:after {opacity:1;}

div.previews.search_result_new div.preview .inner2 {position:static;}
div.previews.search_result_new div.preview div.bottom .details {overflow: hidden;}
div.previews.search_result_new div.preview div.top {background: rgba(0,0,0,0.8);position: absolute; top: 0; width: 100%; text-align: center; color: #ccc;display: none; z-index: 1;}
div.previews.search_result_new div.preview:hover div.top {display: block;}
div.previews.search_result_new div.preview div.top div.labels {text-overflow:clip;height: auto; color: #ccc; }
div.previews.search_result_new .to_lightbox {text-align: justify; white-space: normal; overflow: hidden; height: 20px;}
div.previews.search_result_new .to_lightbox:after {display: inline-block; width: 100%; content:'';}
div.previews.search_result_new .to_lightbox a {font-size:17px; display: inline-block;}
div.previews.search_result_new div.preview a.price {font-weight: normal;}

div.previews.search_result_new div.preview div.suggestions {font-size:12px;position:absolute;background:#333;
border-radius:5px; box-shadow:0 0px 0px 3px rgba(0, 0, 0, 0.95); width: 100%;z-index: 1;display: none;top:100%;}
div.previews.search_result_new div.preview:hover div.suggestions {display: block;}
div.previews.search_result_new div.preview div.suggestions a {padding: 7px; display: block;background:#333;border-radius:4px;}
div.previews.search_result_new div.preview div.suggestions a span {display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #ccc;text-shadow: 0 1px 0 #000;}
div.previews.search_result_new div.preview div.suggestions a:hover span {color: #fff;}
div.previews.search_result_new div.preview div.suggestions div.img_row { background:white; line-height: 0;
    margin-top: 3px; overflow: hidden;white-space: nowrap; font-size: 0;}
div.previews.search_result_new div.preview div.suggestions div.img_row img {display: inline-block; margin-right: 3px;max-width: 49px; max-height: 49px;}
div.previews.search_result_new div.preview div.suggestions a:hover div.img_row img {opacity: 0.8;}
div.previews.search_result_new div.preview div.suggestions div.img_row img:last-child {margin-right: 0;}

.search_result_new .ratings_stars {height: 40px;max-width: 40px;width: 20%;background-size: contain;background-position: center;}
.search_result_new .imageview_bottom_rating  {text-align: center;}
.search_result_new .imageview_bottom_rating > span.rate_widget  {width: 100%;max-width: 200px;}
.search_result_new .imageview_bottom_rating > span.boost_val,.search_result_new .imageview_bottom_rating > span.current_val
{color: #fff; font-weight:bold;height: 40px;line-height: 39px;font-size: 25px;min-width: 45px;float: left; text-align: left;margin: 0 5px;}
.search_result_new .imageview_bottom_rating > span.current_val  {float: right;opacity: 0.5; text-align: right;}
.search_result_new .preview_keyword {max-height: none;}
.search_result_new .preview_keyword_text {font-size: 20px;}
.search_result_new .preview_keyword_text .keyword_boost_changer span {width: 20px; height: 20px; background-repeat: no-repeat; background-size: contain;}
.search_result_new .preview_keyword_text .keyword_boost_changer span.keyword_remove {background-position: -296px 2px;background-size: 380px 380px;}

#suggestion_area {width:100%; position: relative;font-size: 0;}
#suggestion_area div.suggestion > p.header {font-weight: bold; margin: -30px 0 0; position: absolute;}
#suggestion_area div.suggestion > p.nude {display: none;position: absolute;width: 500px;}
#suggestion_area.blurred div.suggestion > p.header {margin-top:-50px;}
#suggestion_area.blurred div.suggestion > p.nude {margin-top:-30px; display: block;}
#suggestion_area .previews {margin: 0; padding: 0; background: #FFFFFF;position: relative;}
#suggestion_area .suggestion > span {font-weight:bold; color: #141414; margin: 0; padding: 5px 0 0; max-width: 230px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
#suggestion_area .suggestion > span:last-child {float: right;}
#suggestion_area .previews span:first-child {margin-left: 0;}
#suggestion_area .previews span {margin: 0 0 0 1px; background: #fff;}
#suggestion_area .previews span img {height: 94px;width: 94px; background: #f4f4f4;}
#suggestion_area .previews span:nth-last-child(2) img {height: 47px; width: 47px;border-bottom: 1px solid #fff;}
#suggestion_area .previews span:last-child img {height: 47px;width: 47px; margin-top: 1px;}
#suggestion_area .previews span:nth-last-child(2) {position: absolute;top: 0;right: 0;}
#suggestion_area  div.suggestion {font-size: 13px; display: inline-block; margin:30px 0 0 25px;position: relative;padding: 10px 10px 5px;}
#suggestion_area.blurred  div.suggestion {margin-top:50px;}
#suggestion_area  div.suggestion .previews span:first-child {margin-left: 0;}
#suggestion_area  div.suggestion:first-child, #suggestion_area  div.suggestion.new_line {margin-left: 0 !important;}
#suggestion_area  div.suggestion:first-child:before, #suggestion_area  div.suggestion.new_line:before {display: none;}
#suggestion_area  div.suggestion .previews span:last-child {margin-right: 0;}
#suggestion_area  div.suggestion .previews > a {display: block;}
#suggestion_area  div.suggestion .previews > a:after {border-radius: 33%;box-shadow: 0 2px 7px rgba(99, 99, 99, 0.4);content: "";display: block;height: 16px;margin: -16px 2px 0;}
#suggestion_area  div.suggestion:hover {cursor:pointer;background-color: #ededed;box-shadow: 1px 1px #fff;cursor: pointer;}
#suggestion_area  div.suggestion:hover {border-radius: 3px; box-shadow: 0 0 0 3px #333; cursor: pointer;}
#suggestion_area  div.suggestion.new_type {margin-left: 52px;}
#suggestion_area  div.suggestion.new_type:before {position: absolute; content: ""; height:94px; left: -27px; border-left: 1px solid #c0c0c0;border-right: 1px solid #fff;width: 0;}


#suggestion_area .bottom_hr {clear: both;margin: 30px 0 20px;}
#suggestion_area.blurred a.see_all {display:none;}
#suggestion_area a.see_less {display: none;font-size: 13px;font-weight: bold;position: absolute;right: 0;top: 9px;}
#suggestion_area a.see_all {float: right; transition:0s !important; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
/*background: url("/images/imageview/holder_see_all.png") no-repeat -8px -33px; margin-top:45px; height: 110px; width: 145px;*/
    line-height: 94px; height: 94px; width: 94px; color: #b9b9b9;margin-top: 40px;
     text-align: center; font-size: 25px;
     background: #f0f0f0; background: -moz-linear-gradient(top,  #ffffff 0%, #f0f0f0 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0)); background: -webkit-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%); background: -o-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%); background: -ms-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%); background: linear-gradient(to bottom,  #ffffff 0%,#f0f0f0 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );
}
#suggestion_area a.see_all:hover {background:#ffffff;}

.unrated_controls {display: none;}
.avg_boost_slider {vertical-align: 10px;margin-left: 30px;display: inline-block;}
#avg_boost_slider {width: 60px; display: inline-block; vertical-align: -1px; height: 9px;border-radius: 3px;}
#avg_boost_slider .ui-slider-handle {width: 3px; top: -5px; margin-left: -2px;border-radius: 2px;background: #ccc;}
.preview.collage .shitty {
    border-radius: 5px;
    color: #333;
    font-size: 11px;
    font-weight: bold;
    height: 32px;
    left: 0;
    margin-top: -28px;
    padding: 0 4px 0 0;
    position: absolute;
    z-index: 1;
}
.preview.collage .shitty .cb_squared_small2 {margin-left: 0;}
.preview.collage .shitty .fReplacedCheckboxImg {height: 24px;}